@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
  position: relative;
  padding-bottom: 104px;
}

.product-dropdown {
  display: none;
  box-shadow: 0px 3px 10px -5px black;
}

.product-link:hover .product-dropdown,
.product-dropdown:hover {
  display: flex;
}

.account-menu {
  display: none;
}

.account-icon:hover + .account-menu,
.account-menu:hover {
  display: block;
}
